In this Lab session, you will be working with pandas. The selected dataset could be downloaded at <https://www.kaggle.com/luiscorter/netflix-original-films-imdb-scores>. From there, a more thorough description of the data can be found.  
For your convenience, we have downloaded the data and place it under folder `data`.

# Data Import

First, import pandas

In [1]:
import pandas as pd

Specify the path to the data file `NetflixOriginals.csv`. By default, it is under the `data` directory which is under the same directory as this notebook

In [2]:
file_path = 'data/NetflixOriginals.csv'

As you already see, it is a csv file. Use a text editor to open the file and find out which delimiter is used.

In [3]:
delimiter = ','

Now, use pandas and the above information to load the data into a dataframe.

In [4]:
df = pd.read_csv(file_path, delimiter=delimiter)

Print the *last* 15 lines of the dataframe.

In [5]:
df.tail(15)

,Title,Genre,Premiere,Runtime,IMDB Score,Language
569,My Octopus Teacher,Documentary,"September 7, 2020",85,8.1,English
570,Rising Phoenix,Documentary,"August 26, 2020",106,8.1,English
571,13th,Documentary,"October 7, 2016",100,8.2,English
572,Disclosure: Trans Lives on Screen,Documentary,"June 19, 2020",107,8.2,English
573,Klaus,Animation/Christmas/Comedy/Adventure,"November 15, 2019",97,8.2,English
574,Seaspiracy,Documentary,"March 24, 2021",89,8.2,English
575,The Three Deaths of Marisela Escobedo,Documentary,"October 14, 2020",109,8.2,Spanish
576,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
577,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
578,Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85,8.4,English
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

# Data exploration

## How many records (rows) and attributes (columns) are in the dataset?

In [6]:
df.shape

(584, 6)

## What is the highest (and lowest) score among all the movies in the dataset?

The `describe()` function calculates some statistics for each of numeric columns in the dataset. Since we're only interested in the `IMDB Score`, we can also extract the subset of the dataframe according to this column.

In [7]:
# getting the IMDB score
df['IMDB Score']

0      2.5
1      2.6
2      2.6
3      3.2
4      3.4
      ...
579    8.4
580    8.4
581    8.5
582    8.6
583    9.0
Name: IMDB Score, Length: 584, dtype: float64

In [8]:
# applying the describe function on the IMDB Score column
df['IMDB Score'].describe()

count    584.000000
mean       6.271747
std        0.979256
min        2.500000
25%        5.700000
50%        6.350000
75%        7.000000
max        9.000000
Name: IMDB Score, dtype: float64

As shown above, the `describe()` function gives some statistics into the IMDB Score. We can extract the max, min from this as follows

In [9]:
df['IMDB Score'].describe()[['min', 'max']]
df['IMDB Score'].describe()[['min', 'max']]
# you can extract the two values (min, max) and assign them to 2 variables score_min, score_max as below
# score_min, score_max = df['IMDB Score'].describe()[['min', 'max']]
# print('max is {}'.format(score_max))
# print('min is {}'.format(score_min))

min    2.5
max    9.0
Name: IMDB Score, dtype: float64

Another way is to apply the `min(), max()` functions on the IMDB Score column

In [10]:
score_max = df['IMDB Score'].max()
score_min = df['IMDB Score'].min()
print('max is {}'.format(score_max))
print('min is {}'.format(score_min))

max is 9.0
min is 2.5

## Which movies score the highest?

We have already calculated the maximum score above. The value is stored in the variable `score_max`. To find all highest-scored movies, we just need to find all movies whose scores are the same as `score_max`

In [11]:
df[df['IMDB Score'] == 9.0]

,Title,Genre,Premiere,Runtime,IMDB Score,Language
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

## What are the genres of all the movies?

In [12]:
df['Genre'].unique()

array(['Documentary', 'Thriller', 'Science fiction/Drama',
       'Horror thriller', 'Mystery', 'Action', 'Comedy',
       'Heist film/Thriller', 'Musical/Western/Fantasy', 'Drama',
       'Romantic comedy', 'Action comedy', 'Horror anthology',
       'Political thriller', 'Superhero-Comedy', 'Horror',
       'Romance drama', 'Anime / Short', 'Superhero', 'Heist', 'Western',
       'Animation/Superhero', 'Family film', 'Action-thriller',
       'Teen comedy-drama', 'Romantic drama', 'Animation',
       'Aftershow / Interview', 'Christmas musical',
       'Science fiction adventure', 'Science fiction', 'Variety show',
       'Comedy-drama', 'Comedy/Fantasy/Family', 'Supernatural drama',
       'Action/Comedy', 'Action/Science fiction',
       'Romantic teenage drama', 'Comedy / Musical', 'Musical',
       'Science fiction/Mystery', 'Crime drama',
       'Psychological thriller drama', 'Adventure/Comedy', 'Black comedy',
       'Romance', 'Horror comedy', 'Christian musical',
       'Romantic teen drama', 'Family', 'Dark comedy', 'Comedy horror',
       'Psychological thriller', 'Biopic', 'Science fiction/Thriller',
       'Mockumentary', 'Satire', 'One-man show', 'Romantic comedy-drama',
       'Comedy/Horror', 'Fantasy', 'Sports-drama', 'Zombie/Heist',
       'Psychological horror', 'Sports film', 'Comedy mystery',
       'Romantic thriller', 'Christmas comedy', 'War-Comedy',
       'Romantic comedy/Holiday', 'Adventure-romance', 'Adventure',
       'Horror-thriller', 'Dance comedy', 'Stop Motion',
       'Horror/Crime drama', 'Urban fantasy', 'Drama/Horror',
       'Family/Comedy-drama', 'War', 'Crime thriller',
       'Science fiction/Action', 'Teen comedy horror', 'Concert Film',
       'Musical comedy', 'Animation/Musical/Adventure',
       'Animation / Musicial', 'Animation/Comedy/Adventure',
       'Action thriller', 'Anime/Science fiction', 'Animation / Short',
       'War drama', 'Family/Christmas musical',
       'Science fiction thriller', 'Drama / Short',
       'Hidden-camera prank comedy', 'Spy thriller', 'Anime/Fantasy',
       'Animated musical comedy', 'Variety Show', 'Superhero/Action',
       'Biographical/Comedy', 'Historical-epic', 'Animation / Comedy',
       'Christmas/Fantasy/Adventure/Comedy', 'Mentalism special',
       'Drama-Comedy', 'Coming-of-age comedy-drama', 'Historical drama',
       'Making-of', 'Action-adventure', 'Animation / Science Fiction',
       'Anthology/Dark comedy', 'Musical / Short',
       'Animation/Christmas/Comedy/Adventure'], dtype=object)

## Bonus: Some movies are tagged with more than one genre, hence, the list of unique genres could be (possibly) less than what you have just obtained. Find a way to deal with this situation, and derive the correct sets of (single) genre.

In [13]:
# first, get all genres, including singular and multiple genre tags
all_genre_tags = df['Genre']
# a variable to keep all singular genres
singular_genres = []
for genre_tag in all_genre_tags:
    # check if this tag is multiple or single
    if '/' in genre_tag:
        # '/' seperate different genre tags
        # let's separate them
        genres = genre_tag.split('/')
        # append these genres to the list of singular genre
        singular_genres += genres
    else:
        # this tag has only one genre
        # append this genre to the list of singular genre
        singular_genres += [genre_tag]
# now get unique genres from the list of genres
singular_genres = set(singular_genres)
# print them out
# also print the number of unique genres
print(len(singular_genres))
print(singular_genres)

98
{'Heist', 'War', 'Romantic teenage drama', 'Anime', 'Romantic thriller', 'Variety show', 'Adventure-romance', 'Christmas', 'Biopic', 'Documentary', 'Psychological thriller drama', 'Zombie', 'Teen comedy-drama', 'Psychological thriller', 'Comedy horror', 'Dark comedy', 'Mystery', 'Holiday', 'Historical-epic', 'Family', 'Drama', 'Family film', 'Musical ', 'Concert Film', 'Sports film', 'Psychological horror', 'Horror comedy', ' Interview', ' Short', 'Horror', 'Comedy-drama', 'Mockumentary', 'Comedy mystery', 'Heist film', 'Spy thriller', 'Action comedy', 'Thriller', 'Adventure', 'Animation ', 'Action thriller', 'Science fiction thriller', 'Urban fantasy', 'Historical drama', 'War-Comedy', 'Science fiction adventure', 'Romance', 'Animation', 'Action', 'Stop Motion', 'Crime thriller', 'Drama-Comedy', 'Drama ', 'Supernatural drama', 'Anthology', 'Animated musical comedy', 'Variety Show', 'Fantasy', ' Science Fiction', 'Anime ', 'Musical comedy', 'Coming-of-age comedy-drama', 'Crime drama', 'Satire', 'Western', 'Romantic comedy', 'Science fiction', 'One-man show', 'Mentalism special', 'Horror anthology', 'Action-adventure', 'Horror thriller', 'Romantic teen drama', 'Musical', 'Superhero', 'War drama', 'Romance drama', 'Political thriller', 'Superhero-Comedy', 'Comedy', ' Comedy', 'Hidden-camera prank comedy', 'Black comedy', 'Making-of', 'Christmas comedy', 'Comedy ', 'Biographical', 'Christian musical', 'Horror-thriller', 'Action-thriller', ' Musical', 'Teen comedy horror', 'Dance comedy', 'Aftershow ', ' Musicial', 'Christmas musical', 'Sports-drama', 'Romantic comedy-drama', 'Romantic drama'}

## Sort the movies by their titles

This can be accomplished by using the `sort_values()` function. Note that, by default the `inplace` argument for this function has the `False` value. That indicates the calling dataframe will not be altered. The function just returns another dataframe with sorted values. On the other hand, by setting `inplace = True`, this makes changes to the calling dataframe.  
If we want to change `df`, we have the following statement.

In [14]:
df.sort_values('Title', inplace=True)
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
65,#REALITYHIGH,Comedy,"September 8, 2017",99,5.2,English
571,13th,Documentary,"October 7, 2016",100,8.2,English
451,13th: A Conversation with Oprah Winfrey & Ava ...,Aftershow / Interview,"January 26, 2017",36,7.1,English
161,15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi
262,1922,Horror/Crime drama,"October 20, 2017",102,6.3,English

## To simplify the data for the sake of this Lab session, we are going to remove movies with compound genres.

In [15]:
df = df[~df['Genre'].apply(lambda g: '/' in g)]
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
65,#REALITYHIGH,Comedy,"September 8, 2017",99,5.2,English
571,13th,Documentary,"October 7, 2016",100,8.2,English
161,15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi
389,22 July,Drama,"October 10, 2018",144,6.8,English
29,5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian

## Extract movies with only 1 tag `Action` and assign a new dataframe to them, called `df_action`

In [16]:
df_action = df[df['Genre'] == 'Action']
df_action.head()

               Title   Genre           Premiere  Runtime  IMDB Score Language
220    6 Underground  Action  December 13, 2019      128         6.1  English
5              Drive  Action   November 1, 2019      147         3.5    Hindi
50   Earth and Blood  Action     April 17, 2020       80         4.9   French
372       Extraction  Action     April 24, 2020      117         6.7  English
153      Point Blank  Action      July 12, 2019       86         5.7  English

## What is the average score of all action movies?

In [17]:
df_action['IMDB Score'].mean()

5.414285714285714

## You have learned to calculate the average IMDB score for only the action movies by extracting relevant movies. By using `groupby`, the calculation can be applied to all the genres automatically.
## Now, let's group the dataframe by `Genre`.

In [18]:
gp_genre = df.groupby('Genre')

## Calculate average score and average runtime for each of the groups.

In [19]:
gp_genre_avg = gp_genre[['IMDB Score', 'Runtime']].mean()
gp_genre_avg

                  IMDB Score     Runtime
Genre
Action              5.414286  108.000000
Action comedy       5.420000  101.200000
Action thriller     6.400000   82.000000
Action-adventure    7.300000  121.000000
Action-thriller     6.133333  119.666667
...                      ...         ...
Variety show        5.950000   60.500000
War                 6.750000  110.500000
War drama           7.100000  145.500000
War-Comedy          6.000000  122.000000
Western             6.066667  116.666667

[79 rows x 2 columns]

## On average, which movie genre scores the highest?

There are (at least) two ways to do this.

First approach:
- Find the maximum average score
- Find genres with that score

In [20]:
# max average IMDB score
max_avg_score = gp_genre_avg['IMDB Score'].max()
print(max_avg_score)
# find genres with that score
gp_genre_avg[gp_genre_avg['IMDB Score']==max_avg_score]

7.633333333333333

              IMDB Score    Runtime
Genre
Concert Film    7.633333  98.666667

Second approach:
- find the index of the row with the maximum score by using the `argmax()` function. (Note that `max()` gives the max value while `argmax()` gives the index of the max value)
- use the index to locate the row

In [21]:
# index of the maximum
max_avg_ind = gp_genre_avg['IMDB Score'].argmax()
print(max_avg_ind)
# the corresponding row
gp_genre_avg.iloc[max_avg_ind]
# to get only the Genre, you can use the following statement
# gp_genre_avg['IMDB Score'].index[max_avg_ind]

19

IMDB Score     7.633333
Runtime       98.666667
Name: Concert Film, dtype: float64

## Are the movie titles unique?

In [22]:
len(df['Title'].unique())

533

## You have just found out that the titles are unique. It can be used as indexes for the dataframe. Let's make the `Title` column as index.

In [23]:
df.set_index('Title', inplace=True)
df.head()

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
#REALITYHIGH,Comedy,"September 8, 2017",99,5.2,English
13th,Documentary,"October 7, 2016",100,8.2,English
15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi
22 July,Drama,"October 10, 2018",144,6.8,English
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian

# Datetime

## What is the datetype of the `Premiere` column?

In [24]:
df['Premiere'][0]

'September 8, 2017'

## Convert the datetime strings to datetime objects

The function `to_datetime()` convert a column with datetime strings to datetime objects

In [25]:
pd.to_datetime(df['Premiere'])

Title
#REALITYHIGH       2017-09-08
13th               2016-10-07
15 August          2019-03-29
22 July            2018-10-10
5 Star Christmas   2018-12-07
                      ...
Yeh Ballet         2020-02-21
Yes Day            2021-03-12
You've Got This    2020-10-02
Zion               2018-08-10
�l�t?r�            2020-10-02
Name: Premiere, Length: 533, dtype: datetime64[ns]

In [26]:
# we can assign the outcome from the to_datetime() above to a new column for the dataframe. Here we name the new column as 'PremiereDate'
df['PremiereDate'] = pd.to_datetime(df['Premiere'])
df.head()

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
#REALITYHIGH,Comedy,"September 8, 2017",99,5.2,English,2017-09-08
13th,Documentary,"October 7, 2016",100,8.2,English,2016-10-07
15 August,Comedy-drama,"March 29, 2019",124,5.8,Marathi,2019-03-29
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07

## List all the movies that were premiered in 2018

In [27]:
from datetime import datetime, date

The datetime column `PremiereDate` allows comparisons between datetime objects, such as `d1 > d2` is `True` when the date `d1` is in the future of the date `d2`. 
So to filter movies in 2018, we can define the lower and upper bounds of the datetime.

The function strptime of the datetime class convert a datetime string to a datetime object. The second argument for this function is the datetime format used by the string.  
`'%d/%m/%Y'` indicates `dd/mm/yyyy` format

In [28]:
first_2018 = datetime.strptime('01/01/2018', '%d/%m/%Y')
last_2018 = datetime.strptime('31/12/2018', '%d/%m/%Y')

In [29]:
is_2018 = (first_2018 <= df['PremiereDate']) & (df['PremiereDate'] <= last_2018)
#df_2018
df[is_2018]

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07
6 Balloons,Drama,"April 6, 2018",75,5.9,English,2018-04-06
A Christmas Prince: The Royal Wedding,Romantic comedy,"November 30, 2018",92,5.3,English,2018-11-30
Alex Strangelove,Romantic comedy,"June 8, 2018",99,6.3,English,2018-06-08
...,...,...,...,...,...,...
To All the Boys I've Loved Before,Romantic comedy,"August 17, 2018",99,7.1,English,2018-08-17
"To Each, Her Own",Romantic comedy,"June 24, 2018",95,5.3,French,2018-06-24
Two Catalonias,Documentary,"September 28, 2018",116,6.4,Spanish/Catalan,2018-09-28
When We First Met,Romantic comedy,"February 9, 2018",97,6.4,English,2018-02-09
Zion,Documentary,"August 10, 2018",11,7.2,English,2018-08-10

## There is another way to do this by using the function [`apply`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html).  It executes a method on rows or columns.

The apply() function applys a function to every row or column of a dataframe. We will define a function that check if the year represented by each cell in PremiereDate is 2018.

In [30]:
def is_year_2018(premiere_date):
    # to extract the year of a datetime object, use .year
    return premiere_date.year == 2018

apply this `is_year_2018()` function to all cells in the columns `PremiereDate`

In [31]:
is_2018 = df['PremiereDate'].apply(is_year_2018)
is_2018

Title
#REALITYHIGH        False
13th                False
15 August           False
22 July              True
5 Star Christmas     True
                    ...
Yeh Ballet          False
Yes Day             False
You've Got This     False
Zion                 True
�l�t?r�             False
Name: PremiereDate, Length: 533, dtype: bool

Now, we can use this outcome to extract 2018-premiered movies

In [32]:
df[is_2018]

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07
6 Balloons,Drama,"April 6, 2018",75,5.9,English,2018-04-06
A Christmas Prince: The Royal Wedding,Romantic comedy,"November 30, 2018",92,5.3,English,2018-11-30
Alex Strangelove,Romantic comedy,"June 8, 2018",99,6.3,English,2018-06-08
...,...,...,...,...,...,...
To All the Boys I've Loved Before,Romantic comedy,"August 17, 2018",99,7.1,English,2018-08-17
"To Each, Her Own",Romantic comedy,"June 24, 2018",95,5.3,French,2018-06-24
Two Catalonias,Documentary,"September 28, 2018",116,6.4,Spanish/Catalan,2018-09-28
When We First Met,Romantic comedy,"February 9, 2018",97,6.4,English,2018-02-09
Zion,Documentary,"August 10, 2018",11,7.2,English,2018-08-10

The function `is_year_2018()` only contains 1 line of code, python provides a way to define the so-called inline functions.  
The keyword `lambda` indicate an inline function. Use `lambda arg: statement`

In [33]:
is_2018 = df['PremiereDate'].apply(lambda d: d.year == 2018)
df[is_2018]

,Genre,Premiere,Runtime,IMDB Score,Language,PremiereDate
Title,,,,,,
22 July,Drama,"October 10, 2018",144,6.8,English,2018-10-10
5 Star Christmas,Comedy,"December 7, 2018",95,4.6,Italian,2018-12-07
6 Balloons,Drama,"April 6, 2018",75,5.9,English,2018-04-06
A Christmas Prince: The Royal Wedding,Romantic comedy,"November 30, 2018",92,5.3,English,2018-11-30
Alex Strangelove,Romantic comedy,"June 8, 2018",99,6.3,English,2018-06-08
...,...,...,...,...,...,...
To All the Boys I've Loved Before,Romantic comedy,"August 17, 2018",99,7.1,English,2018-08-17
"To Each, Her Own",Romantic comedy,"June 24, 2018",95,5.3,French,2018-06-24
Two Catalonias,Documentary,"September 28, 2018",116,6.4,Spanish/Catalan,2018-09-28
When We First Met,Romantic comedy,"February 9, 2018",97,6.4,English,2018-02-09
Zion,Documentary,"August 10, 2018",11,7.2,English,2018-08-10