# If-elif-else

In [52]:
in_number = int(input('Type in a number'))
if in_number > 0:
    absolute = in_number
else:
    absolute = -in_number
print('The absolute value of {} is {}'.format(in_number, absolute))

Type in a number2
The absolute value of 2 is 2

# Loop

## While

In [5]:
cont = True
while cont:
    x = float(input('Type in a number (0 to stop): '))
    cont = x != 0

Type in a number (0 to stop): 2
Type in a number (0 to stop): 3
Type in a number (0 to stop): -1
Type in a number (0 to stop): 2.3
Type in a number (0 to stop): -2.3
Type in a number (0 to stop): 0

## For

List

In [7]:
a = [1, 3, 2]
for element in a:
    print(element)

1
3
2

Tuple

In [11]:
a = ('apple', 10)
for element in a:
    print(element)

apple
10

Set

In [12]:
a = set(['apple', 'orange'])
for element in a:
    print(element)

orange
apple

In [ ]:
# set objects are iterable eventhough they are not subscriptable
a[0]

String

In [9]:
a = 'Welcome to TIL6010'
for element in a:
    print(element)

W
e
l
c
o
m
e

t
o

T
I
L
6
0
1
0

*Challenge:* Instead of characters, list words in strings

In [10]:
string = 'Welcome to TIL6010!'
# YOUR CODE HERE

Welcome
to
TIL6010!

Range

In [81]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

*Challenge*: Print '`Python is fun! ` 10 times

In [80]:
message = "Python is 'fun'!"
for _ in range(10):
    print(message)

Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!
Python is 'fun'!

*Challenge*: What is the output of the following code

In [23]:
numbers = [1, 2, -3, -4, 6, -5, 7, -10]
for x in numbers:
    if x < 0:
        # remove this number from the list
        numbers.remove(x)
print(numbers)

[1, 2, -4, 6, 7]

Dictionary

In [13]:
personal_info = {
    'name': 'Jone',
    'age': 25,
    'height': 175,
    'weight': 60
}
for element in personal_info:
    print(element)

name
age
height
weight

In [14]:
for key,val in personal_info.items():
    print(key, end=': ')
    print(val)

name: Jone
age: 25
height: 175
weight: 60

*Challenge*: Given a list of fruit names, loop over it and capitalise the first letter of each of the names.  
For example, given `fruits = ['apple', 'orange', 'pear', 'banana', 'kiwi']`,  
then after your executing your code, we should get `fruits = ['Apple', 'Orange', 'Pear', 'Banana', 'Kiwi']`  

*Hint*:
- loop with index
- `str.capitalize()` capitalises the first character

In [24]:
fruits = ['apple', 'orange', 'pear', 'banana', 'kiwi']
# YOUR CODE HERE

['Apple', 'Orange', 'Pear', 'Banana', 'Kiwi']

### `enumerate`

In [27]:
fruits = ['apple', 'orange', 'pear', 'banana', 'kiwi']
for i, f in enumerate(fruits):
    fruits[i] = str.capitalize(f)
print(fruits)

['Apple', 'Orange', 'Pear', 'Banana', 'Kiwi']

### zip

Given a list of fruits and their respective prices in another list, create a dictionary for fruit prices.

In [28]:
fruits = ['apple', 'orange', 'pear', 'banana', 'kiwi']
prices = [1, 0.2, 0.7, 0.15, 1.5]
# YOUR CODE HERE

{'apple': 1, 'orange': 0.2, 'pear': 0.7, 'banana': 0.15, 'kiwi': 1.5}

Use `zip`

In [30]:
fruits = ['apple', 'orange', 'pear', 'banana', 'kiwi']
prices = [1, 0.2, 0.7, 0.15, 1.5]

fruit_price_info = {}
for fruit, price in zip(fruits, prices):
    fruit_price_info[fruit] = price

print(fruit_price_info)

{'apple': 1, 'orange': 0.2, 'pear': 0.7, 'banana': 0.15, 'kiwi': 1.5}

A simpler solution to this particular problem

In [29]:
fruit_price_info = dict(zip(fruits, prices))
print(fruit_price_info)

{'apple': 1, 'orange': 0.2, 'pear': 0.7, 'banana': 0.15, 'kiwi': 1.5}

## `break`

*Challenge*: Given a list of characters, print them out until the first encounter of a non-alphabet.  
For example, at the beginning `characters = ['a', 'b', '1', 'c', '2', 'd']`  
your code should only print  
```
a
b
```
*Hint*:
- `str.isalpha()` checks if a character is an alphabet

In [33]:
characters = ['a', 'b', '1', 'c', '2', 'd']
for ch in characters:
    if ch.isalpha():
        print(ch)
    else:
        break

a
b

## `continue`

Only print alphabets from a list

In [34]:
characters = ['a', 'b', '1', 'c', '2', 'd']
for ch in characters:
    if not ch.isalpha():
        continue
    print(ch)

a
b
c
d

## List comprehension

A quick way to make a list from another list

In [66]:
[x**2 for x in range(10)]
# a = []
# for x in range(10):
#     a.append(x**2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
characters = ['a', 'b', '1', 'c', '2', 'd']
[ch for ch in characters if ch.isalpha()]
# a = []
# for ch in characters:
#     if ch.isalpha():
#         a.append(ch)

['a', 'b', 'c', 'd']

# Function `def`

In [36]:
def get_even_numbers(numbers):
    # This function extract only even numbers from a given list
    even_numbers = []
    for x in numbers:
        if x % 2 == 0:
            even_numbers.append(x)
    return even_numbers

In [37]:
a = [0, 2, 1, 3, 4, 6]
b = get_even_numbers(a)
print(b)

[0, 2, 4, 6]

In [49]:
def my_mean(a, b, method):
    # Calculate 'mean' of a and b
    # Two options for method
    # - Arithmetic: (a + b) / 2
    # - Hamornic: 2 / (1/a + 1/b)
    if method == 'arithmetic':
        u = (a + b) / 2
    elif method == 'hamornic': 
        if (a == 0) or (b == 0):
            u = None
        else:
            u = 2 / (1/a + 1/b)
    else:
        print('method is not valid')
        u = None
    return u

In [56]:
my_mean(1,2,'hamornic')

1.3333333333333333

In [58]:
def my_mean_2(a, b, method='arithmetic'):
    # Calculate 'mean' of a and b
    # Two options for method
    # - Arithmetic: (a + b) / 2
    # - Hamornic: 2 / (1/a + 1/b)
    if method == 'arithmetic':
        u = (a + b) / 2
    elif method == 'hamornic': 
        if (a == 0) or (b == 0):
            u = None
        else:
            u = 2 / (1/a + 1/b)
    else:
        print('method is not valid')
        u = None
    return u

In [60]:
my_mean_2(1,2)

1.5

In [61]:
def foo(a, method='arithmetic', b):
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-61-1f837be07b17>, line 1)

## Calling

In [63]:
my_mean(a = 1, b = 2, method = 'arithmetic')

1.5

In [64]:
my_mean(a = 1, method = 'arithmetic', b = 2)

1.5

In [65]:
my_mean(1, method = 'arithmetic', b = 2)

1.5

## args

In [70]:
def my_mean_3(*args, method='arithmetic'):    
    if method == 'arithmetic':
        total = sum(args)
        count = len(args)
        u = total / count
    elif method == 'hamornic': 
        total = 0
        for n in args:
            if n == 0:
                u = None
                break
            else:
                total += 1/n
        count = len(args)
        u = total / count
    else:
        print('method is not valid')
        u = None
    return u

In [73]:
my_mean_3(2,3,2,6)

3.25

## kwargs

In [75]:
def update_info(info, **kwargs):
    # info is a dictionary
    # add key-value to this dictionary
    for k, v in kwargs.items():
        info[k] = v
    return info
# ofcourse, you can use the built-in fuction update() for dictionary objects

In [79]:
info = {
    'name': 'Peter'
}
update_info(info, age = 18, height = 175)
print(info)

{'name': 'Peter', 'age': 18, 'height': 175}

Combine all options

In [87]:
def foo(*args, x):
    print(args)
    print(x)

In [88]:
foo(1,2,2)

TypeError: foo() missing 1 required keyword-only argument: 'x'

In [89]:
foo(1,2, x = 3)

(1, 2)
3

In [90]:
def foo(**kwargs, x):
    print(kwargs)
    print(x)

SyntaxError: invalid syntax (<ipython-input-90-e30ee82d8c5c>, line 1)

In [91]:
def foo(x, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [92]:
foo(1, 2, 'a', b = 2)

1
(2, 'a')
{'b': 2}

In [93]:
def foo(x, *args, **kw):
    print(x)
    print(args)
    print(kw)

In [94]:
foo(1, 2, 'a', b = 2)

1
(2, 'a')
{'b': 2}

In [95]:
def foo(*args, x, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [97]:
foo(1,2,b=2,x=2)

2
(1, 2)
{'b': 2}

# Class

In [9]:
class Person:
    def __init__(self, first_name = None, last_name = None):
        self.first_name = first_name
        self.last_name = last_name

In [10]:
p = Person('Peter', 'Parker')
print(p.first_name, p.last_name)

Peter Parker

In [11]:
print(p)

<__main__.Person object at 0x10fbde690>

In [12]:
class Person:
    def __init__(self, first_name = None, last_name = None):
        self.first_name = first_name
        self.last_name = last_name
    def __repr__(self):
        return '{} {}'.format(self.first_name, self.last_name)

In [13]:
p = Person('Peter', 'Parker')
print(p)

Peter Parker

In [14]:
p

Peter Parker

In [40]:
class Person:
    def __init__(self, first_name = None, last_name = None):
        self.first_name = first_name
        self.last_name = last_name
    def __repr__(self):
        return str(self.__dict__)
    def update_info(self, atr_name, atr_value):
        setattr(self, atr_name, atr_value)

In [41]:
p = Person('Peter', 'Parker')
print(p)

{'first_name': 'Peter', 'last_name': 'Parker'}

In [42]:
p.update_info('age', 18)
p

{'first_name': 'Peter', 'last_name': 'Parker', 'age': 18}

*Challenge* Write a method for class Person that can update multiple details  
`Person.bulk_update(age=18, height=175, weight=70)`

Inheritance

In [44]:
class Grads(Person):
    pass

In [45]:
g = Grads('John', 'Smith')
g

{'first_name': 'John', 'last_name': 'Smith'}

In [46]:
class Grads(Person):
    def __init__(self, first_name=None, last_name=None, university=None):
        super().__init__(first_name, last_name)
        self.university = university

In [47]:
g = Grads('John', 'Smith')
g

{'first_name': 'John', 'last_name': 'Smith', 'university': None}

In [48]:
g = Grads('John', 'Smith', 'TU Delft')
g

{'first_name': 'John', 'last_name': 'Smith', 'university': 'TU Delft'}

In [50]:
g = Grads('John', 'Smith')
g.update_info('grad_year', 2020)
g

{'first_name': 'John', 'last_name': 'Smith', 'university': None, 'grad_year': 2020}